<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'push'"
    [autoFocus]="false">
    <mat-toolbar>Меню</mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list *ngIf="!loggedInUser.login">
      <a mat-list-item (click)="drawer.toggle()" routerLink="/">
        <mat-icon color="primary">account_circle</mat-icon>
        Авторизация
      </a>
    </mat-nav-list>
    <mat-nav-list *ngIf="loggedInUser.login">
      <a mat-list-item (click)="drawer.toggle()" routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        Доска
      </a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/transactions">
        <mat-icon>monetization_on</mat-icon>
        Касса
      </a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/contacts">
        <mat-icon>supervised_user_circle</mat-icon>
        Сотрудники
      </a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/reports">
        <mat-icon>pie_chart</mat-icon>
        Отчеты
      </a>
    </mat-nav-list>
    <div *ngIf="loggedInUser.login && loggedInUser.isAdmin">
      <mat-toolbar>Управление</mat-toolbar>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <a mat-list-item (click)="drawer.toggle()" routerLink="/users">
          <mat-icon>manage_accounts</mat-icon>
          Пользователи
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item (click)="drawer.toggle()" routerLink="/companies">
          <mat-icon>business</mat-icon>
          Компании
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button onclick="this.blur()" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span *ngIf="!(isHandset$ | async)">{{ title }}</span>
      <span class="spacer"></span>
      <button
        *ngIf="loggedInUser.login"
        mat-button
        matTooltip="Наименование организации для управления (нажмите, чтобы сменить)"
        matTooltipShowDelay="1000">
        <mat-icon>{{ company.logo }}</mat-icon>
        <span class="mat-button-wrapper">{{ company.name }}</span>
      </button>
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
