<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'push'"
    [autoFocus]="false"
    (openedStart)="onOpenedStart()">
    <mat-toolbar>Меню</mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list *ngIf="!loggedInUser.id">
      <a
        mat-list-item
        (click)="drawer.toggle()"
        routerLink="login"
        [class.active]="activeRoute === '/login'">
        <mat-icon>account_circle</mat-icon>
        Авторизация
      </a>
    </mat-nav-list>
    <mat-nav-list *ngIf="loggedInUser.id">
      <a
        mat-list-item
        (click)="drawer.toggle()"
        routerLink="dashboard"
        [class.active]="activeRoute === '/dashboard'">
        <mat-icon>dashboard</mat-icon>
        Главная
      </a>
      <a
        mat-list-item
        (click)="drawer.toggle()"
        routerLink="operations"
        [class.active]="activeRoute === '/operations'">
        <mat-icon>payments</mat-icon>
        Касса
      </a>
      <a
        mat-list-item
        (click)="drawer.toggle()"
        routerLink="contacts"
        [class.active]="activeRoute.startsWith('/contacts')">
        <mat-icon>badge</mat-icon>
        Сотрудники
      </a>
      <a
        mat-list-item
        (click)="drawer.toggle()"
        routerLink="reports"
        [class.active]="activeRoute.startsWith('/reports')">
        <mat-icon>pie_chart</mat-icon>
        Отчеты
      </a>
      <div mat-subheader>Каталоги</div>
      <a
        mat-list-item
        (click)="drawer.toggle()"
        routerLink="titles"
        [class.active]="activeRoute.startsWith('/titles')">
        <mat-icon>personal_injury</mat-icon>
        Должности
      </a>
      <a
        mat-list-item
        (click)="drawer.toggle()"
        routerLink="properties"
        [class.active]="activeRoute.startsWith('/properties')">
        <mat-icon>savings</mat-icon>
        Имущество
      </a>
      <a
        mat-list-item
        (click)="drawer.toggle()"
        routerLink="incomes"
        [class.active]="activeRoute.startsWith('/incomes')">
        <mat-icon>account_balance_wallet</mat-icon>
        Доходы
      </a>
      <a
        mat-list-item
        (click)="drawer.toggle()"
        routerLink="expenditures"
        [class.active]="activeRoute.startsWith('/expenditures')">
        <mat-icon>payment</mat-icon>
        Расходы
      </a>
    </mat-nav-list>
    <div *ngIf="loggedInUser.id && loggedInUser.admin">
      <mat-nav-list>
        <div mat-subheader>Администрирование</div>
        <a
          mat-list-item
          (click)="drawer.toggle()"
          routerLink="users"
          [class.active]="activeRoute.startsWith('/users')">
          <mat-icon>manage_accounts</mat-icon>
          Пользователи
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a
          mat-list-item
          (click)="drawer.toggle()"
          routerLink="companies"
          [class.active]="activeRoute.startsWith('/companies')">
          <mat-icon>business</mat-icon>
          Компании
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button onclick="this.blur()" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span *ngIf="!(isHandset$ | async) || !loggedInUser.id">{{ title }}</span>
      <span class="spacer"></span>
      <button
        mat-button
        *ngIf="loggedInUser.id && loggedInUser.companyId"
        [color]="company.name ? 'inherit' : 'warn'"
        (click)="onSwitchCompany()">
        <mat-icon>{{ company.logo || 'warning' }}</mat-icon>
        <span class="mat-button-wrapper">{{
          company.name || 'Выбрать компанию'
        }}</span>
      </button>
      <div class="vertical-line" *ngIf="loggedInUser.id"></div>
      <button
        *ngIf="loggedInUser.id"
        mat-button
        [color]="loggedInUser.name ? 'inherit' : 'warn'"
        (click)="onProfileClick()">
        <mat-icon>{{ loggedInUser.avatar || 'warning' }}</mat-icon>
        <span class="mat-button-wrapper">{{
          loggedInUser.name || 'Авторизуйтесь'
        }}</span>
      </button>
      <div *ngIf="isHandset$ | async; then iconLogout; else buttonLogout"></div>
      <ng-template #iconLogout
        ><button mat-icon-button (click)="logout()" *ngIf="loggedInUser.id">
          <mat-icon>logout</mat-icon>
        </button></ng-template
      >
      <ng-template #buttonLogout
        ><button mat-button (click)="logout()" *ngIf="loggedInUser.id">
          <mat-icon>logout</mat-icon>
          <span>Выйти</span>
        </button></ng-template
      >
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer class="footer" *ngIf="!loggedInUser.id">
  <p>Business Accounting © 2010-2021 | Designed by <u>kungfux</u></p>
</footer>
