<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'push'"
    [autoFocus]="false">
    <mat-toolbar>Меню</mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list *ngIf="!loggedInUser.id">
      <a mat-list-item (click)="drawer.toggle()" routerLink="/">
        <mat-icon color="primary">account_circle</mat-icon>
        Авторизация
      </a>
    </mat-nav-list>
    <mat-nav-list *ngIf="loggedInUser.id">
      <a mat-list-item (click)="drawer.toggle()" routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        Главная
      </a>
      <a
        mat-list-item
        (click)="drawer.toggle()"
        routerLink="/transactions"
        *ngIf="false">
        <mat-icon>payments</mat-icon>
        Касса
      </a>
      <div mat-subheader>Каталоги</div>
      <a
        mat-list-item
        (click)="drawer.toggle()"
        routerLink="/contacts"
        *ngIf="false">
        <mat-icon>badge</mat-icon>
        Сотрудники
      </a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/titles">
        <mat-icon>personal_injury</mat-icon>
        Должности
      </a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/properties">
        <mat-icon>savings</mat-icon>
        Имущество
      </a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/expenditures">
        <mat-icon>payment</mat-icon>
        Расходы
      </a>
      <a
        mat-list-item
        (click)="drawer.toggle()"
        routerLink="/reports"
        *ngIf="false">
        <mat-icon>pie_chart</mat-icon>
        Отчеты
      </a>
    </mat-nav-list>
    <div *ngIf="loggedInUser.id && loggedInUser.admin">
      <mat-nav-list>
        <div mat-subheader>Администрирование</div>
        <a mat-list-item (click)="drawer.toggle()" routerLink="/users">
          <mat-icon>manage_accounts</mat-icon>
          Пользователи
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item (click)="drawer.toggle()" routerLink="/companies">
          <mat-icon>business</mat-icon>
          Компании
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button onclick="this.blur()" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span *ngIf="!(isHandset$ | async)">{{ title }}</span>
      <span class="spacer"></span>
      <button
        *ngIf="loggedInUser.id && loggedInUser.companyId"
        mat-button
        (click)="onSwitchCompany()">
        <mat-icon>{{ company.logo }}</mat-icon>
        <span class="mat-button-wrapper">{{ company.name }}</span>
      </button>
      <div class="vertical-line" *ngIf="loggedInUser.id"></div>
      <button *ngIf="loggedInUser.id" mat-button>
        <mat-icon>{{ loggedInUser.avatar }}</mat-icon>
        <span class="mat-button-wrapper">{{ loggedInUser.name }}</span>
      </button>
      <div *ngIf="isHandset$ | async; then iconLogout; else buttonLogout"></div>
      <ng-template #iconLogout
        ><button mat-icon-button (click)="logout()" *ngIf="loggedInUser.id">
          <mat-icon>logout</mat-icon>
        </button></ng-template
      >
      <ng-template #buttonLogout
        ><button mat-button (click)="logout()" *ngIf="loggedInUser.id">
          <mat-icon>logout</mat-icon>
          <span>Выйти</span>
        </button></ng-template
      >
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
