<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<app-toolbar
  title="Сотрудники"
  [mode]="toolBarMode"
  [selectedItem]="selectedItem"
  (createRequest)="onCreateRequest()"
  (editRequest)="onEditRequest()"
  [customButtonEnabled]="true"
  [customButton]="filtersButton"
  (customRequest)="onFiltersRequest()"></app-toolbar>

<mat-card class="filters" *ngIf="filterShow">
  <mat-card-content>
    <!-- <mat-form-field appearance="fill">
      <mat-label>Фильтр по ФИО</mat-label>
      <input matInput [(ngModel)]="filterContactName" />
      <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field> -->
    <mat-checkbox [(ngModel)]="filterActiveOnly" (change)="getContacts()"
      >Только активные сотрудники</mat-checkbox
    >
  </mat-card-content>
</mat-card>

<div class="page-content">
  <mat-card
    *ngFor="let contact of data"
    (click)="selectItem(contact)"
    [class.selected]="selectedItem == contact"
    class="contact">
    <img
      mat-card-image
      src="{{ contact.photo || '/assets/photo-placeholder.jpg' }}"
      [ngClass]="(isHandset$ | async) ? 'small' : 'big'" />
    <mat-card-header>
      <mat-card-title [ngClass]="(isHandset$ | async) ? 'small' : 'big'">{{
        contact.name
      }}</mat-card-title>
      <mat-card-subtitle [ngClass]="(isHandset$ | async) ? 'small' : 'big'">{{
        contact.title || '&zwnj;'
      }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <app-navigator
    class="line-break"
    [isLoading]="isLoading"
    [itemsCount]="data.length"
    (pageChanged)="getContacts($event)"></app-navigator>
</div>
