<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'push'">
    <mat-toolbar>Меню</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">
        <mat-icon color="primary">payments</mat-icon>
        Касса
      </a>
      <a mat-list-item href="#">
        <mat-icon color="primary">people</mat-icon>
        Сотрудники
      </a>
      <a mat-list-item href="#">
        <mat-icon color="primary">pie_chart</mat-icon>
        Отчеты
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Business Accounting Cloud</span>
      <span class="spacer"></span>
      <button mat-button matTooltip="Наименование организации для управления (нажмите, чтобы сменить)" matTooltipShowDelay="1000">
        <mat-icon>emoji_transportation</mat-icon>
        <span class="mat-button-wrapper">
          Fox Parking Ltd.
        </span>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
