/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

body {
  background-image: radial-gradient(
    circle at 1px 1px,
    rgb(250, 250, 250) 1px,
    transparent 0
  );
  background-size: 10px 10px;
}

.page-content {
  margin: 8px;
}

button mat-icon ~ span {
  margin-left: 4px;
}
