<app-toolbar
  title="Расходы"
  [mode]="toolBarMode"
  [isLoading]="isLoading"
  [selectedItem]="selectedExpenditure"
  (createRequest)="onCreateRequest()"
  (editRequest)="onEditRequest()"></app-toolbar>

<div class="page-content">
  <div class="table-responsive" *ngIf="!isLoading">
    <table mat-table [dataSource]="expenditures">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Название</th>
        <td mat-cell class="wrap" *matCellDef="let expenditure">
          {{ expenditure.title }}
        </td>
      </ng-container>

      <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef>Шаблон суммы расхода</th>
        <td mat-cell *matCellDef="let expenditure">
          {{ expenditure.rate ? this.currency.convert(expenditure.rate) : '' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="enabled">
        <th mat-header-cell *matHeaderCellDef>Показывать в кассе</th>
        <td mat-cell *matCellDef="let expenditure">
          <mat-checkbox [checked]="expenditure.enabled" disabled>
          </mat-checkbox>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="['title', 'rate', 'enabled']; sticky: true"></tr>
      <tr
        mat-row
        (click)="selectExpenditure(row)"
        [class.selectedRow]="selectedExpenditure == row"
        *matRowDef="let row; columns: ['title', 'rate', 'enabled']"></tr>
    </table>
  </div>

  <app-navigator
    [isLoading]="isLoading"
    [itemsCount]="expenditures.length"
    (pageChanged)="getExpenditures($event)"></app-navigator>
</div>
