<app-toolbar
  [title]="item?.login || 'Новый пользователь'"
  [mode]="toolBarMode"
  [isLoading]="isLoading"
  [selectedItem]="item"
  [deleteVisible]="!!item?.id"
  [saveEnabled]="
    !item.id
      ? !!item.login &&
        item.login.length > 0 &&
        !!item.password &&
        item.password.length >= 8 &&
        !!item.name &&
        item.name.length > 0 &&
        !isLoading
      : !!item.login &&
        item.login.length > 0 &&
        !!item.name &&
        item.name.length > 0 &&
        !isLoading
  "
  [deleteEnabled]="!isLoading"
  [customButtonEnabled]="!!item?.id && !isLoading"
  [customButton]="changePasswordButton"
  (customRequest)="onChangePasswordRequest()"
  (saveRequest)="onSaveRequest()"
  (deleteRequest)="onDeleteRequest()"></app-toolbar>

<div class="page-content">
  <mat-card class="card">
    <mat-card-content>
      <div class="column-container">
        <mat-form-field appearance="fill">
          <mat-label>Логин</mat-label>
          <input matInput [(ngModel)]="item.login" required />
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="item && !item.id">
          <mat-label>Пароль</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            [(ngModel)]="item.password"
            required />
          <button
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-pressed]="hidePassword">
            <mat-icon>{{
              hidePassword ? 'visibility_off' : 'visibility'
            }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Имя</mat-label>
          <input matInput [(ngModel)]="item.name" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Аватар</mat-label>
          <input matInput [(ngModel)]="item.avatar" />
          <button
            mat-icon-button
            matSuffix
            (click)="
              goToLink('https://fonts.google.com/icons?selected=Material+Icons')
            ">
            <mat-icon>{{ 'travel_explore' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <section>
        <mat-checkbox [(ngModel)]="item.admin">Администратор</mat-checkbox>
        <mat-checkbox [(ngModel)]="item.enabled">Вход разрешен</mat-checkbox>
      </section>
    </mat-card-content>
  </mat-card>
</div>
