<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<app-toolbar
  [title]="'Мой профиль'"
  [mode]="toolBarMode"
  [selectedItem]="item"
  [deleteVisible]="false"
  [saveEnabled]="
    !!item.login &&
    item.login.length > 0 &&
    !!item.name &&
    item.name.length > 0 &&
    !isLoading
  "
  [customButtonEnabled]="!!item?.id && !isLoading"
  [customButton]="changePasswordButton"
  (customRequest)="onChangePasswordRequest()"
  (saveRequest)="onSaveRequest()"></app-toolbar>

<div class="page-content">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>{{ item.avatar }}</mat-icon>
      </div>
      <mat-card-title>{{ item.name }}</mat-card-title>
      <mat-card-subtitle>{{ item.login }}</mat-card-subtitle>
    </mat-card-header>
    <hr />
    <mat-card-content>
      <div class="column-container">
        <mat-card-subtitle>Аккаунт</mat-card-subtitle>

        <mat-form-field appearance="fill">
          <mat-label>Логин</mat-label>
          <input matInput [(ngModel)]="item.login" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Имя</mat-label>
          <input matInput [(ngModel)]="item.name" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Аватар</mat-label>
          <input matInput [(ngModel)]="item.avatar" />
          <button
            mat-icon-button
            matSuffix
            (click)="
              goToLink('https://fonts.google.com/icons?selected=Material+Icons')
            ">
            <mat-icon>{{ 'travel_explore' }}</mat-icon>
          </button>
        </mat-form-field>

        <mat-card-subtitle>Параметры</mat-card-subtitle>

        <mat-form-field appearance="fill">
          <mat-label>Формат денежной единицы</mat-label>
          <mat-select [(value)]="locale">
            <mat-option [value]="'en-US'"> Доллары ($) </mat-option>
            <mat-option [value]="'ru'"> Рубли (руб.)</mat-option>
            <mat-option [value]="'ru-UA'"> Гривны (грн.)</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>
