<app-toolbar
  [title]="item?.name || 'Новый компания'"
  [mode]="toolBarMode"
  [selectedItem]="item"
  [deleteVisible]="!!item?.id"
  [saveEnabled]="!!item.name"
  (saveRequest)="onSaveRequest()"
  (deleteRequest)="onDeleteRequest()"></app-toolbar>

<div class="page-content">
  <mat-card class="card">
    <mat-card-content>
      <div class="column-container">
        <mat-form-field appearance="fill">
          <mat-label>Название</mat-label>
          <input matInput [(ngModel)]="item.name" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Логотип</mat-label>
          <input matInput [(ngModel)]="item.picture" />
          <button
            mat-icon-button
            matSuffix
            (click)="
              goToLink('https://fonts.google.com/icons?selected=Material+Icons')
            ">
            <mat-icon>{{ 'travel_explore' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <section>
        <mat-checkbox [(ngModel)]="item.enabled">Активна</mat-checkbox>
      </section>
    </mat-card-content>
  </mat-card>
</div>
