<app-toolbar
  [title]="item?.title || 'Новое имущество'"
  [mode]="toolBarMode"
  [isLoading]="isLoading"
  [selectedItem]="item"
  [deleteVisible]="!!item?.id"
  [saveEnabled]="!!item.title && !isLoading"
  [deleteEnabled]="!isLoading"
  (saveRequest)="onSaveRequest()"
  (deleteRequest)="onDeleteRequest()"></app-toolbar>

<div class="page-content" *ngIf="!isLoading">
  <mat-card class="card">
    <mat-card-content>
      <div class="column-container">
        <mat-form-field appearance="fill">
          <mat-label>Название имущества</mat-label>
          <input matInput [(ngModel)]="item.title" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Инвентарный номер</mat-label>
          <input matInput [(ngModel)]="item.inventoryNumber" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Стоимость</mat-label>
          <input matInput type="number" [(ngModel)]="item.cost" />
          <span matPrefix>{{ this.currency.getSymbol() }}&nbsp;</span>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Комментарий</mat-label>
          <textarea matInput [(ngModel)]="item.comment"></textarea>
        </mat-form-field>
      </div>
      <section>
        <mat-checkbox [(ngModel)]="item.enabled"
          >Разрешить использование</mat-checkbox
        >
      </section>
    </mat-card-content>
  </mat-card>
</div>
