.column-container {
  display: flex;
  flex-direction: column;
}

mat-checkbox {
  margin-right: 16px;
  margin-top: 8px;
}

textarea {
  min-height: 86px;
}

.mat-card:not([class*='mat-elevation-z']),
mat-card {
  box-shadow: none;
  transition: none;
  background: transparent;
}
