<mat-toolbar>
  <span>{{ user?.login || 'Новый пользователь' }}</span>
</mat-toolbar>

<div class="page-content">
  <section>
    <button
      mat-flat-button
      color="primary"
      matTooltip=""
      matTooltipShowDelay="1000"
      (click)="onSaveClick()"
      [disabled]="!user.login || !user.password || user.password.length < 8">
      <mat-icon>save</mat-icon>
      <span class="mat-button-wrapper">Сохранить</span>
    </button>
  </section>

  <mat-card class="card">
    <mat-card-content>
      <div class="column-container">
        <mat-form-field appearance="fill">
          <mat-label>Логин</mat-label>
          <input matInput [(ngModel)]="user.login" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Пароль</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            [(ngModel)]="user.password"
            required />
          <button
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-pressed]="hidePassword">
            <mat-icon>{{
              hidePassword ? 'visibility_off' : 'visibility'
            }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <section>
        <mat-checkbox [(ngModel)]="user.admin">Администратор</mat-checkbox>
        <mat-checkbox [(ngModel)]="user.enabled">Вход разрешен</mat-checkbox>
      </section>
    </mat-card-content>
  </mat-card>
</div>
