mat-card {
  flex: auto;
}

mat-card-content,
.page-content {
  display: flex;
}

.section-small {
  flex: 1;
  padding: 0 16px;
}

.section-big {
  flex: 2;
  padding: 0 16px;
}

@media (max-width: 768px) {
  mat-card-content,
  .page-content {
    flex-direction: column;
  }
}

div.img {
  padding: 16px 16px;
}

img {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  background: transparent;
}

div.calendars mat-form-field {
  width: 49%;
}

div.calendars mat-form-field:nth-child(1) {
  padding-right: 2%;
}
