<app-toolbar
  [title]="item?.name || 'Новый сотрудник'"
  [mode]="toolBarMode"
  [isLoading]="isLoading"
  [selectedItem]="item"
  [deleteVisible]="!!item?.id"
  [saveEnabled]="!!item.name && !isLoading"
  [deleteEnabled]="!isLoading"
  (saveRequest)="onSaveRequest()"
  (deleteRequest)="onDeleteRequest()"
  [customButton]="choosePhotoButton"
  (customRequest)="onChoosePhotoRequest()"></app-toolbar>

<div class="page-content">
  <mat-card class="card">
    <mat-card-content>
      <div class="section-small img">
        <img
          mat-card-image
          src="{{ item.photo || '/assets/photo-placeholder.jpg' }}" />
      </div>
      <div class="section-big">
        <div class="column-container">
          <mat-form-field appearance="fill">
            <mat-label>Фамилия, имя и отчество</mat-label>
            <input matInput [(ngModel)]="item.name" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Должность</mat-label>
            <mat-select [(ngModel)]="item.title">
              <mat-option value="null"></mat-option>
              <mat-option *ngFor="let title of titles" value="{{ title }}">
                {{ title }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Мобильный телефон</mat-label>
            <input matInput [(ngModel)]="item.cellphone" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Домашний телефон</mat-label>
            <input matInput [(ngModel)]="item.phone" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Электронная почта</mat-label>
            <input matInput [(ngModel)]="item.email" />
          </mat-form-field>
          <div class="calendars">
            <mat-form-field appearance="fill">
              <mat-label>Дата принятия</mat-label>
              <input
                matInput
                [(ngModel)]="item.hired"
                [matDatepicker]="hired" />
              <mat-datepicker-toggle
                matSuffix
                [for]="hired"></mat-datepicker-toggle>
              <mat-datepicker #hired></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Дата увольнения</mat-label>
              <input
                matInput
                [(ngModel)]="item.fired"
                [matDatepicker]="fired" />
              <mat-datepicker-toggle
                matSuffix
                [for]="fired"></mat-datepicker-toggle>
              <mat-datepicker #fired></mat-datepicker>
            </mat-form-field>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>Причина увольнения</mat-label>
            <input matInput [(ngModel)]="item.firedNote" />
          </mat-form-field>
        </div>
      </div>
      <div class="section-big">
        <div class="column-container">
          <mat-form-field appearance="fill">
            <mat-label>Дата рождения</mat-label>
            <input matInput [(ngModel)]="item.dob" [matDatepicker]="dob" />
            <mat-datepicker-toggle
              matSuffix
              [for]="dob"></mat-datepicker-toggle>
            <mat-datepicker #dob></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Паспортные данные</mat-label>
            <textarea matInput [(ngModel)]="item.passport"></textarea>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Адрес регистрации</mat-label>
            <textarea matInput [(ngModel)]="item.address"></textarea>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Заметки</mat-label>
            <textarea matInput [(ngModel)]="item.note"></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<input
  hidden
  #imageUpload
  type="file"
  [imageToDataUrl]="options"
  (imageSelected)="selected($event)" />
