<mat-toolbar>
  <span>Пользователи</span>
</mat-toolbar>

<div class="page-content">
  <section>
    <button
      color="primary"
      mat-flat-button
      matTooltip=""
      matTooltipShowDelay="1000"
      (click)="onCreateClick()">
      <mat-icon>add</mat-icon>
      <span class="mat-button-wrapper">Создать</span>
    </button>
    <button
      mat-flat-button
      color="primary"
      matTooltip=""
      matTooltipShowDelay="1000"
      (click)="onEditClick()"
      [disabled]="selectedUser === undefined">
      <mat-icon>edit</mat-icon>
      <span class="mat-button-wrapper">Редактировать</span>
    </button>
    <button
      mat-flat-button
      color="warn"
      matTooltip=""
      matTooltipShowDelay="1000"
      (click)="onDeleteClick()"
      [disabled]="selectedUser === undefined">
      <mat-icon>delete</mat-icon>
      <span class="mat-button-wrapper">Удалить</span>
    </button>
  </section>

  <table mat-table [dataSource]="users">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Идентификатор</th>
      <td mat-cell *matCellDef="let user">{{ user.id }}</td>
    </ng-container>

    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef>Логин</th>
      <td mat-cell *matCellDef="let user">{{ user.login }}</td>
    </ng-container>

    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef>Пароль</th>
      <td mat-cell *matCellDef="let user">********</td>
    </ng-container>

    <ng-container matColumnDef="admin">
      <th mat-header-cell *matHeaderCellDef>Администратор</th>
      <td mat-cell *matCellDef="let user">
        <mat-checkbox [checked]="user.admin" disabled> </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="enabled">
      <th mat-header-cell *matHeaderCellDef>Вход разрешен</th>
      <td mat-cell *matCellDef="let user">
        <mat-checkbox [checked]="user.enabled" disabled> </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef>Создан</th>
      <td mat-cell *matCellDef="let user">{{ user.created }}</td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="
        ['id', 'login', 'password', 'admin', 'enabled', 'created'];
        sticky: true
      "></tr>
    <tr
      mat-row
      (click)="selectUser(row)"
      [class.selectedRow]="selectedUser == row"
      *matRowDef="
        let row;
        columns: ['id', 'login', 'password', 'admin', 'enabled', 'created']
      "></tr>
  </table>
</div>
