<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<mat-toolbar>
  <button mat-icon-button color="link" (click)="goBack()" *ngIf="mode === 2">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <span>{{ title }}</span>
  <span class="toolbar-spacer"></span>
  <section *ngIf="(isHandset | async) === false">
    <button
      mat-stroked-button
      color="primary"
      (click)="onSetFavoriteClick()"
      [disabled]="!favoriteEnabled"
      *ngIf="favoriteVisible"
      matTooltip="Запомнить эту запись как избранную и выбирать её из списка автоматически, когда она доступна (в кассе или сотрудниках), при создании новой записи">
      <mat-icon>favorite</mat-icon>
      <span class="mat-button-wrapper">Отметить</span>
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="onCustomClick()"
      [disabled]="!customEnabled"
      *ngIf="customButton">
      <mat-icon>{{ customButton?.icon }}</mat-icon>
      <span class="mat-button-wrapper">{{ customButton?.text }}</span>
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="onEditClick()"
      [disabled]="selectedItem === undefined"
      *ngIf="mode === 1">
      <mat-icon>edit</mat-icon>
      <span class="mat-button-wrapper">Изменить</span>
    </button>
    <button
      color="primary"
      mat-flat-button
      (click)="onCreateClick()"
      *ngIf="mode === 1">
      <mat-icon>add</mat-icon>
      <span class="mat-button-wrapper">Добавить</span>
    </button>
    <button
      mat-stroked-button
      color="warn"
      (click)="onDeleteClick()"
      [disabled]="!deleteEnabled"
      *ngIf="mode === 2 && deleteVisible">
      <mat-icon>delete</mat-icon>
      <span class="mat-button-wrapper">Удалить</span>
    </button>
    <button
      mat-flat-button
      color="primary"
      (click)="onSaveClick()"
      *ngIf="mode === 2"
      [disabled]="!saveEnabled">
      <mat-icon>save</mat-icon>
      <span class="mat-button-wrapper">Сохранить</span>
    </button>
  </section>
  <section *ngIf="(isHandset | async) === true">
    <button
      mat-icon-button
      color="primary"
      (click)="onSetFavoriteClick()"
      [disabled]="!favoriteEnabled"
      *ngIf="favoriteVisible"
      matTooltip="Запомнить эту запись как избранную и выбирать её из списка автоматически, когда она доступна (в кассе или сотрудниках), при создании новой записи">
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      color="primary"
      (click)="onCustomClick()"
      [disabled]="!customEnabled"
      *ngIf="customButton">
      <mat-icon>{{ customButton?.icon }}</mat-icon>
    </button>
    <button
      color="primary"
      mat-icon-button
      (click)="onEditClick()"
      [disabled]="selectedItem === undefined"
      *ngIf="mode === 1">
      <mat-icon>edit</mat-icon>
    </button>
    <button
      color="primary"
      mat-mini-fab
      (click)="onCreateClick()"
      *ngIf="mode === 1">
      <mat-icon>add</mat-icon>
    </button>
    <button
      color="warn"
      mat-icon-button
      (click)="onDeleteClick()"
      [disabled]="!deleteEnabled"
      *ngIf="mode === 2 && deleteVisible">
      <mat-icon>delete</mat-icon>
    </button>
    <button
      color="primary"
      mat-mini-fab
      (click)="onSaveClick()"
      *ngIf="mode === 2"
      [disabled]="!saveEnabled">
      <mat-icon>save</mat-icon>
    </button>
  </section>
</mat-toolbar>
