<div class="widget">
  <div class="icon" [style.background]="color">
    <mat-icon>{{ icon }}</mat-icon>
  </div>
  <div class="vertical-line"></div>
  <div>
    <p class="title">{{ title }}</p>
    <div>
      <div [style.color]="color" class="la-line-scale" *ngIf="isLoading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <p class="content" *ngIf="!isLoading">{{ content }}</p>
      <p class="note" *ngIf="!isLoading">{{ note }}</p>
    </div>
  </div>
</div>
