<app-toolbar
  title="Имущество"
  [mode]="toolBarMode"
  [isLoading]="isLoading"
  [selectedItem]="selectedProperty"
  (createRequest)="onCreateRequest()"
  (editRequest)="onEditRequest()"></app-toolbar>

<div class="page-content">
  <div class="table-responsive" *ngIf="!isLoading">
    <table mat-table [dataSource]="properties">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Название</th>
        <td mat-cell class="wrap" *matCellDef="let property">
          {{ property.title }}
        </td>
      </ng-container>

      <ng-container matColumnDef="inventory_number">
        <th mat-header-cell *matHeaderCellDef>Инвентарный номер</th>
        <td mat-cell *matCellDef="let property">
          {{ property.inventory_number }}
        </td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef>Стоимость</th>
        <td mat-cell *matCellDef="let property">
          {{ property.cost ? this.currency.convert(property.cost) : '' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="enabled">
        <th mat-header-cell *matHeaderCellDef>Показывать</th>
        <td mat-cell *matCellDef="let property">
          <mat-checkbox [checked]="property.enabled" disabled> </mat-checkbox>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="
          ['title', 'inventory_number', 'cost', 'enabled'];
          sticky: true
        "></tr>
      <tr
        mat-row
        (click)="selectProperty(row)"
        [class.selectedRow]="selectedProperty == row"
        *matRowDef="
          let row;
          columns: ['title', 'inventory_number', 'cost', 'enabled']
        "></tr>
    </table>
  </div>

  <app-navigator
    [isLoading]="isLoading"
    [itemsCount]="properties.length"
    (pageChanged)="getProperties($event)"></app-navigator>
</div>
