<app-toolbar
  title="Имущество"
  [mode]="toolBarMode"
  [isLoading]="isLoading"
  [selectedItem]="selectedItem"
  (createRequest)="onCreateRequest()"
  (editRequest)="onEditRequest()"></app-toolbar>

<div class="page-content">
  <div class="table-responsive">
    <table mat-table [dataSource]="data">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Запись</th>
        <td mat-cell *matCellDef="let item">{{ item.id }}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Название имущества</th>
        <td mat-cell *matCellDef="let item">{{ item.title }}</td>
      </ng-container>

      <ng-container matColumnDef="inventory_number">
        <th mat-header-cell *matHeaderCellDef>Инвентарный номер</th>
        <td mat-cell *matCellDef="let item">{{ item.inventory_number }}</td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef>Стоимость</th>
        <td mat-cell *matCellDef="let item">
          {{ item.cost ? this.currency.convert(item.cost) : '' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="enabled">
        <th mat-header-cell *matHeaderCellDef>Разрешить использование</th>
        <td mat-cell *matCellDef="let item">
          <mat-checkbox [checked]="item.enabled" disabled> </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef>Дата создания</th>
        <td mat-cell *matCellDef="let item">
          {{
            item.created + 'Z'
              | date: 'medium':undefined:this.userPreferences.locale
          }}
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="
          ['id', 'title', 'inventory_number', 'cost', 'enabled', 'created'];
          sticky: true
        "></tr>
      <tr
        mat-row
        (click)="selectItem(row)"
        [class.selectedRow]="selectedItem == row"
        *matRowDef="
          let row;
          columns: [
            'id',
            'title',
            'inventory_number',
            'cost',
            'enabled',
            'created'
          ]
        "></tr>
    </table>
  </div>

  <app-navigator
    [isLoading]="isLoading"
    [itemsCount]="data.length"
    (pageChanged)="getProperties($event)"></app-navigator>
</div>
