.column-container {
  display: flex;
  flex-direction: column;
}

.display-flex {
  display: flex;
}

.margin-auto {
  margin: auto !important;
}

.card {
  max-width: 400px;
  min-width: 300px;
}

.page-content {
  margin: 30px;
  display: flex;
  justify-content: center;
}
