.page-content {
  display: flex;
  flex-wrap: wrap;
}

.button-right {
  position: fixed !important;
  right: 30px;
  bottom: 30px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}
