<div class="widget">
  <div class="icon">
    <mat-icon>schedule</mat-icon>
  </div>
  <div class="vertical-line"></div>
  <div>
    <p class="title">Возраст компании</p>
    <div>
      <div style="color: #3f51b5" class="la-line-scale" *ngIf="isLoading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <p class="content" *ngIf="!isLoading">{{ companyAge }}</p>
      <p class="note" *ngIf="!isLoading">
        Основана:
        {{
          company!.created!
            | date: 'longDate':undefined:this.userPreferences.locale
        }}
      </p>
    </div>
  </div>
</div>
