<app-toolbar
  title="Должности"
  [mode]="toolBarMode"
  [isLoading]="isLoading"
  [selectedItem]="selectedTitle"
  (createRequest)="onCreateRequest()"
  (editRequest)="onEditRequest()"></app-toolbar>

<div class="page-content">
  <div class="table-responsive" *ngIf="!isLoading">
    <table mat-table [dataSource]="titles">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Название</th>
        <td mat-cell class="wrap" *matCellDef="let title">{{ title.name }}</td>
      </ng-container>

      <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef>Зарплата</th>
        <td mat-cell *matCellDef="let title">
          {{ title.rate ? this.currency.convert(title.rate) : '' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="enabled">
        <th mat-header-cell *matHeaderCellDef>Показывать</th>
        <td mat-cell *matCellDef="let title">
          <mat-checkbox [checked]="title.enabled" disabled> </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef>Дата создания</th>
        <td mat-cell *matCellDef="let title">
          {{
            title.created | date: 'medium':undefined:this.userPreferences.locale
          }}
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="
          ['name', 'rate', 'enabled', 'created'];
          sticky: true
        "></tr>
      <tr
        mat-row
        (click)="selectTitle(row)"
        [class.selectedRow]="selectedTitle == row"
        *matRowDef="
          let row;
          columns: ['name', 'rate', 'enabled', 'created']
        "></tr>
    </table>
  </div>

  <app-navigator
    [isLoading]="isLoading"
    [itemsCount]="titles.length"
    (pageChanged)="getTitles($event)"></app-navigator>
</div>
