<app-toolbar
  title="Доходы"
  [mode]="toolBarMode"
  [isLoading]="isLoading"
  [selectedItem]="selectedIncome"
  (createRequest)="onCreateRequest()"
  (editRequest)="onEditRequest()"></app-toolbar>

<div class="page-content">
  <div class="table-responsive" *ngIf="!isLoading">
    <table mat-table [dataSource]="incomes">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Название</th>
        <td mat-cell class="wrap" *matCellDef="let income">
          {{ income.title }}
        </td>
      </ng-container>

      <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef>Типовая сумма дохода</th>
        <td mat-cell *matCellDef="let income">
          {{ income.rate ? this.currency.convert(income.rate) : '' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="enabled">
        <th mat-header-cell *matHeaderCellDef>Показывать</th>
        <td mat-cell *matCellDef="let income">
          <mat-checkbox [checked]="income.enabled" disabled> </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef>Дата создания</th>
        <td mat-cell *matCellDef="let income">
          {{
            income.created
              | date: 'medium':undefined:this.userPreferences.locale
          }}
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="
          ['title', 'rate', 'enabled', 'created'];
          sticky: true
        "></tr>
      <tr
        mat-row
        (click)="selectIncome(row)"
        [class.selectedRow]="selectedIncome == row"
        *matRowDef="
          let row;
          columns: ['title', 'rate', 'enabled', 'created']
        "></tr>
    </table>
  </div>

  <app-navigator
    [isLoading]="isLoading"
    [itemsCount]="incomes.length"
    (pageChanged)="getIncomes($event)"></app-navigator>
</div>
